* {
    margin: 0;
    padding: 0;
}

/* Share Css */
.fixed-width {
    max-width: 1170px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/* Navbar section */
#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    background-color: #fff;
}

#main-nav .nav-left .logo {
    max-width: 139px;
    height: 60px;
    cursor: pointer;
}

.nav-menu .menu-list {
    display: flex;
    list-style: none;
}

.nav-menu .menu-list li {
    max-width: 367px;
    margin: 0 24px;

}

.nav-menu .menu-list li a {
    text-decoration: none;
    font-size: 16px;
    width: 67px;
    height: 24px;
}


.nav-right .nav-btn {
    height: 44px;
    width: 164px;
    padding: 16px 12px;
    border-radius: 4px;
    background-color: #30B868;
    line-height: 0;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.nav-right .nav-btn:hover {
    background-color: rgb(223, 38, 38);
}

/* hero Section */
.hero-section {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
}

.here-info {
    width: 1170px;
    height: 379px;
    margin: auto;
}

.here-info .hero-content {
    text-align: center;
}

.hero-top {
    padding-top: 117px;
}

.hero-top p {
    width: 192px;
    height: 1px;
    padding: 13px 2px;
    background-color: #ffffff;
    color: #30B868;
    text-align: center;
    margin: auto;
    line-height: 0;
    border-radius: 22px;
    font-size: 16px;
}

.hero-mid {
    width: 770px;
    height: 168px;
    margin: 0 auto;
}

.hero-mid h1 {
    font-size: 44px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}

.hero-mid h2 {
    font-size: 44px;
    color: #30B868;
    font-weight: bold;
}

.hero-mid p {
    width: 612px;
    height: 60px;
    margin: 14px auto;
    color: #ffffff;
    font-size: 18px;
    line-height: 1;
}

.hero-btn {
    display: flex;
    width: 330px;
    height: 42px;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.hero-btn .hero-btn-left {
    background-color: #30B868;
    height: 30px;
    color: #ffffff;
    line-height: 19px;
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
}

.hero-btn .hero-btn-right {
    height: 30px;
    color: #ffffff;
    line-height: 18px;
    padding: 6px;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid #fff;
}

/* Hover part */
.hero-btn .hero-btn-left:hover {
    background-color: red;
    color: #000000;
}

.hero-btn .hero-btn-right:hover {
    background-color: red;
    color: #000000;
}


/* Note-section */
.Note-section {
    height: 400px;
}

.note-content {
    text-align: center;
    margin-top: 60px;
}


.note-content .note-title h1 {
    font-weight: bold;
    color: #001931;
}

.note-content .note-sub-title p {
    font-size: 16px;
    color: #627382;
}

.note-card {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.note-card .note-card-item {
    border-radius: 7px;
    box-shadow: 0px 0px 7px 0px rgb(0, 0, 0, 0.6);
    padding: 20px;
    margin-top: 32px;
    height: 181px;
}

.note-card .note-card-item .icon {
    background: red;
    width: 39px;
    height: 39px;
    margin: auto;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
}

.note-card .note-card-item h1 {
    width: 240px;
    height: 29px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin: 5px;
}

.note-card .note-card-item p {
    width: 250px;
    height: 30px;
    text-align: center;
    color: #627382;
    margin-top: 24px;
    font-size: 14px;
}

/* brain-section */
.brain-section {
    height: 700px;
}

.brain-section .brain-wrap {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    align-items: center;
}

.brain-left {
    width: 71%;
}
.brain-right .brain-right-content {
    width: 500px;
    height: 260px;
}

.brain-right .brain-right-content h4 {
    color: #30B868;
}

.brain-right .brain-right-content h1 {
    width: 400px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    margin: 10px 0;
}

.brain-right .brain-right-content p {
    width: 400px;
    height: 50px;
    font-size: 14px;
}

.brain-cntent-list {
    list-style: none;
    line-height: 33px;
    margin-top: 20px;
}

/* thing-section */
.thing-section {
    height: 500px;
    border: 1px solid red;
}

.think-section-wrap {
    text-align: center;
    height: 200px;
    background-color: rgba(247, 246, 242, 1);
    padding: 40px 80px;
}

.think-content {
    margin: 16px 0px;
}

.think-content h1 {
    font-size: 40px;
    font-weight: bold;
}

.think-content p {
    font-size: 16px;
    color: #627382;
}

.think-bottom {
    margin: 16px 0px;
}

.think-bottom .think-btn .pragrap {
    color: #627382;
    margin-top: 16px;
}

.think-bottom .think-btn .access-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: #469165;
    color: #ffffff;
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
}